body {
height: 50vh;
	background: linear-gradient(
		to right,
		#FF5454 0%,
		#FF5454 25%,
		#ff2e2e 25%,	
		#ff2e2e 50%,	
		#2e93ff 50%,
		#2e93ff 75%,
		#4AA0FF 75%,
		#4AA0FF 100%
	);
}

.margin {
	margin-left: 20px;
	margin-right: 20px;
	text-align: center;
}

.zoom {
	zoom: 1.2;
	color:  #FFFBFC;
}

h2 {
	background-color: #a600ff;
	color: #f0f0f0;
}

h4 {
	color: #f0f0f0;
	background-color: #7b00bd;
}

h6 {
	color: #f0f0f0;
	background-color: #a600ff;
}